$white: #FFFFFF;
$black: #201F1F;
$maim-color: #554A9D;
$border: #CDCDCD;
$text-input: #A5A5A5;
$background: #F0EDF6;
$text-color: #9B9B9B;
$bg-table: #F0EDF6;

@mixin bg-button {
  background-image: linear-gradient(to right, #b0a0f1, #7f7fe8);
}

//$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 375px;

