$white: #FFFFFF;
$black: #201F1F;
$maim-color: #554A9D;
$border: #CDCDCD;
$text-input: #A5A5A5;
$background: #F0EDF6;

$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

:root {
  --primary-color: rgb(245, 0, 0);
}
