$white: #FFFFFF;
$black: #201F1F;
$maim-color: #554a9d;
$border: #CDCDCD;
$text-input: #A5A5A5;
$background: #F0EDF6;
$text-color: #9B9B9B;
$bg-table: #F0EDF6;
$text-contact: #181616;
//$svg-fill: #bbbabe;

@mixin bg-button {
  background-image: linear-gradient(to right, #b0a0f1, #7f7fe8);
}

@mixin bg-buttonReg {
  background-image: linear-gradient(to right, #9082cb, #9898e9);
}


$xl-bp: 1024px;
$sm-bp: 470px;

