@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'vendor/reset';

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);


  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

a {
  color: inherit;
  text-decoration: none;
}

.form-control {
  color: white;
  height: auto;
  text-transform: uppercase;
}

.form-control:focus + .input__label {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: 172rem;
  @include breakpoint($xl-bp) {

  }
  @include breakpoint($sm-bp) {
    max-width: 33.5rem;
  }
}

.title {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
  padding-bottom: 4rem;
  @include breakpoint($sm-bp) {
    font-size: 3.2rem;
    line-height: 3.87rem;
  }

  &--h4 {
    font-size: 1.6rem;
    line-height: 1.93rem;
  }

  &-bottom {
    padding-bottom: 5rem;
  }
}

.subheading {
  font-size: 2rem;
  line-height: 2.42rem;

  &-bottom {
    padding-bottom: 2rem;
  }
}

.text {
  font-size: 1.8rem;
  line-height: 2.1rem;

  &-table {
    font-size: 1.4rem;
    line-height: 1.694rem;
  }

  &-bottom {
    padding-bottom: 3rem;
  }
}

.soar:hover {
  color: $maim-color;
}

.image-logo {
  width: 9rem;
  @include breakpoint($sm-bp) {
    width: 5.3rem;
  }
}

.menu-btn {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
  }
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;

  & span {
    width: 21px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: $maim-color;
  }

  & span:nth-of-type(1) {
    top: calc(50% - 5px);
  }

  & span:nth-of-type(2) {
    top: 50%;
  }

  & span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.bottom {
  padding-bottom: 1.2rem;
}

.agree {
  color: $white;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4rem;

  &--black {
    color: $text-color;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 1.93rem;
  }
  @include breakpoint($sm-bp) {

  }
}

.form--line {
  outline: none;
  border: none;
  border-bottom: 0.1rem solid $border;
}

.top {
  padding: 5.3rem 0 6rem;
  height: 23.2rem;
  background: $maim-color;
  color: $white;
  margin-bottom: 8rem;
}

.breadcrumbs {
  margin-bottom: 2rem;

  &__item {
    display: inline-block;
  }

  &__item a {
    color: $white;
  }

  &__item + li::before {
    content: ">";
    padding: 0 0.5rem;
    vertical-align: super;
  }
}


.swiper {
  width: 600px;
  height: 300px;
}



.arrow:hover {
  @include bg-button;
}

@import "importsBlocks";