@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'vendor/reset';
@import 'swiper/swiper';

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);


  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 0.1rem solid $border;
  -webkit-text-fill-color: $white;
  -webkit-box-shadow: 0 0 0 1000px $maim-color inset;
  transition: background-color 5000s ease-in-out 0s;
}

#requisition-control-name:-webkit-autofill,
#requisition-control-name:-webkit-autofill:hover,
#requisition-control-name:-webkit-autofill:focus,
#requisition-control-name:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  color: black !important;
  -webkit-text-fill-color: black !important;
}

#requisition-control-tel:-webkit-autofill,
#requisition-control-tel:-webkit-autofill:hover,
#requisition-control-tel:-webkit-autofill:focus,
#requisition-control-tel:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.menu-open {
  overflow: hidden;
}

body {
  font-family: Inter;
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

svg {
  transition: all 0.1s linear;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  color: white;
  height: auto;
}

.invalid-control {
  border-color: red !important;
}

.form-control {
  border: 0.1rem solid;
}

.form-control:focus + .input__label {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  margin: 0 auto;
  max-width: 172rem;
  &__mob-tabs {
    @include breakpoint($sm-bp) {
      max-width: 70rem;
    }
  }
  &__table {
    @include breakpoint($xl-bp) {
      overflow-x: scroll;
      width: 41rem;
    }
    @include breakpoint($sm-bp) {
      max-width: 30rem;
    }
  }
  @include breakpoint($xl-bp) {
    max-width: 70rem;
  }
  @include breakpoint($sm-bp) {
    max-width: 33.5rem;
  }
}

.title {
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.8rem;
  padding-bottom: 4rem;
  letter-spacing: 0.05rem;
  @include breakpoint($xl-bp) {
    font-size: 3.2rem;
    line-height: 3.3rem;
  }

  &--h4 {
    font-size: 1.6rem;
    line-height: 1.93rem;
  }

  &-bottom {
    padding-bottom: 5rem;
    @include breakpoint($xl-bp) {
      padding-bottom: 2rem;
    }
  }
}

.title--color {
  @include breakpoint($xl-bp) {
    color: $maim-color;
  }
}

.subheading {
  font-size: 2rem;
  line-height: 2.42rem;
  letter-spacing: 0.05rem;
  @include breakpoint($xl-bp) {
    font-size: 1.8rem;
    line-height: 2.17rem;
  }

  &-bottom {
    padding-bottom: 2rem;
    @include breakpoint($xl-bp) {
      padding-bottom: 1.5rem;
    }
  }
}

.text {
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.05rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  &-table {
    font-size: 1.4rem;
    line-height: 1.694rem;
  }

  &-bottom {
    padding-bottom: 3rem;
    @include breakpoint($xl-bp) {
      padding-bottom: 1.5rem;
    }
  }
}

.soar:hover {
  color: $maim-color;
}

.image-logo {
  width: 9rem;
  @include breakpoint($xl-bp) {
    width: 5.3rem;
  }
}

.menu-btn {
  display: none;
  @include breakpoint($xl-bp) {
    display: block;
    cursor: pointer;
  }
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1.5rem;
  top: 30%;
  z-index: 200;
  @include breakpoint($sm-bp) {
    right: 1rem;
  }

  & span {
    width: 21px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: $maim-color;
  }

  & span:nth-of-type(1) {
    top: calc(50% - 5px);
  }

  & span:nth-of-type(2) {
    top: 50%;
  }

  & span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
}

.menu-btn.active span:nth-of-type(1) {
  transform: translateX(-50%) translateY(5px) rotate(45deg);
}

.menu-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-btn.active span:nth-of-type(3) {
  transform: translateX(-50%) translateY(-5px) rotate(-45deg);
}

.menu-btn span {
  transform-origin: center;
}

.hide {
  display: none;
}

.bottom {
  padding-bottom: 1.2rem;
}

.agree {
  color: $white;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4rem;

  &--black {
    color: $text-color;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 1.93rem;
  }
}

.form--line {
  outline: none;
  border: none;
  border-bottom: 0.1rem solid $border;
}

.top {
  padding: 5.3rem 0 6rem;
  height: 23.2rem;
  background: $maim-color;
  color: $white;
  margin-bottom: 8rem;
  @include breakpoint($sm-bp) {
    margin-top: 4rem;
  }
}

.breadcrumbs {
  margin-bottom: 2rem;

  &__item {
    display: inline-block;
  }

  &__item a {
    color: $white;
  }

  &__item + li::before {
    content: ">";
    padding: 0 0.5rem;
    vertical-align: super;
  }
}

.swiper {
  width: 85rem;
  height: 62.8rem;
}

.swiper.slider-photo {
  width: 70.1rem;
  height: 60rem;

  @include breakpoint($xl-bp) {
    width: 33.5rem;
    height: 28rem;
  }
}

.arrow-slider {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: $maim-color;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  @include breakpoint($xl-bp) {
    width: 1.2rem;
    height: 1.2rem;
  }

  &__item {
    width: 0.6rem;
    height: 1.2rem;
    fill: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include breakpoint($xl-bp) {
      width: 0.4rem;
      height: 0.8rem;
    }
  }
}

.arrow-slider.left {
  left: 2.1rem;
  @include breakpoint($xl-bp) {
    left: 1rem;
  }
}

.arrow-slider.right {
  right: 2.1rem;
  @include breakpoint($xl-bp) {
    right: 1rem;
  }
}

.arrow-slider.right a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
}

.arrow-slider.left a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
}

.slider img {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow:hover {
  @include bg-button;
}

input {
  font-size: 2rem;
}

.title--color {
  @include breakpoint($xl-bp) {
    color: $maim-color;
  }
}

.aside {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.select {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
  }
}

.molest {
  position: sticky;
  top: 20rem;
  align-self: start;
  @include breakpoint($sm-bp) {
    align-self: inherit;
  }
}


@import 'importsBlocks';