@import '../../vars';

.student {
  &__information {
    display: flex;
    justify-content: center;

    &-list {
      width: 70.5rem;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding: 1.5rem 0;
    border-bottom: 0.1rem solid $border;
    cursor: pointer;
    & a:hover {
      color: #554a9d;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}