@import '../vars';
@import '../mixins';
@import 'swiper/swiper';

.accessible {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  @include breakpoint($xl-bp) {
    flex-direction: column;
    align-items: center;
  }
}
