@import '../vars';
@import '../mixins';

.button {
  height: 4.6rem;
  background: $white;
  color: $maim-color;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  padding: 1.2rem 3.4rem;
  @include breakpoint($sm-bp) {
    height: 4.3rem;
    font-size: 1.6rem;
    line-height: 1.93rem;
    padding: 1.2rem 2.4rem;
  }


  &--purple {
    background: $maim-color;
  }

  &--white {
    color: $white;
  }

  &:hover {
    @include bg-button;
  }
}

