@import '../vars';
@import '../fonts';
@import '../mixins';

.footer {
  margin-top: 16rem;
  @include breakpoint($xl-bp) {
    margin-top: 8rem;
  }

  &__logo {
    display: flex;
    text-align: center;
    align-self: start;
    align-items: center;
    cursor: pointer;
    @include breakpoint($sm-bp) {
      margin-bottom: 2.5rem;
    }

    &--text {
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-align: center;
      margin-top: 1.3rem;
      margin-left: -1.5rem;
      @include breakpoint($xl-bp) {
        font-size: 1.4rem;
        line-height: 1.2rem;
        margin-top: 0;
        margin-left: -0.5rem;
      }
      @include breakpoint($sm-bp) {
        font-size: 1.4rem;
        line-height: 1.2rem;
      }
    }
  }

  &__institutions {
    display: flex;
    gap: 16.3rem;
    justify-content: space-between;
    @include breakpoint($xl-bp) {
      gap: 2rem;
      flex-direction: column;
    }
  }

  &__container {
    display: flex;
    gap: 16.3rem;
    border-top: solid 0.2rem $border;
    padding: 2rem 0 4rem;
    @include breakpoint($xl-bp) {
      gap: 2.5rem;
    }
    @include breakpoint($sm-bp) {
      flex-direction: column;
    }
  }

  &__navigation-list {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @include breakpoint($xl-bp) {
      gap: 0.5rem;
    }
    @include breakpoint($sm-bp) {
      gap: 1.5rem;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__navigation-item,
  &__institutions,
  &__contact {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: $black;
    letter-spacing: 0.05rem;
    @include breakpoint($xl-bp) {
      font-size: 1.5rem;
      line-height: 1.93rem;
    }
    @include breakpoint($sm-bp) {
      font-size: 1.6rem;
      line-height: 1.93rem;
    }
  }

  &__institutions-item,
  &__contact {
    padding-bottom: 2rem;
    color: $black;
    @include breakpoint($xl-bp) {
      padding-bottom: 1rem;
    }
    @include breakpoint($sm-bp) {
      padding-bottom: 1.5rem;
    }
  }
}