@import '../vars';
@import '../mixins';

.structure {
  width: 85rem;
  @include breakpoint($xl-bp) {
    width: 49rem;
  }
  @include breakpoint($sm-bp) {
    width: 33.5rem;
  }
  &-top {
    padding-top: 1.5rem;
  }
}

.wrapper__table::-webkit-scrollbar {
  width: 0.5rem;
}

.wrapper__table::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: $white;
}

.wrapper__table::-webkit-scrollbar-thumb {
  background-color: $text-color;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .25) 50%,
          rgba(255, 255, 255, .25) 75%,
          transparent 75%,
          transparent);
}

td {
  padding: 1.2rem 1.5rem;
  @include breakpoint($xl-bp) {
    padding: 0.5rem 0.8rem;

  }
}

th {
  padding: 2rem 1.5rem;
  @include breakpoint($sm-bp) {
    padding: 1.5rem 0.5rem;
  }
}

td, th {
  text-align: left;
}

tr:nth-child(even) td {
  border: 0.1rem solid $border;
}

tr:nth-child(odd) td {
  border: 0.1rem solid $white;
}

tr:nth-child(odd) {
  background-color: $bg-table;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 4rem;
  @include breakpoint($xl-bp) {
    margin-bottom: 0;
  }
}

tr:first-child th:first-child {
  border-top-left-radius: 1.1rem;
}

tr:first-child th:last-child {
  border-top-right-radius: 1.1rem;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 1.1rem;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 1.1rem;
}
