<aside class="aside nav-bar">
  <h2 class="nav-bar__title">Информация</h2>
  <ul class="nav-bar__list">
    <li class="nav-bar__item nav-bar__item--active">Основные сведения</li>
    <li class="nav-bar__item">Структура и органы управления образовательной организацией</li>
    <li class="nav-bar__item">Документы</li>
    <li class="nav-bar__item">Образование</li>
    <li class="nav-bar__item">Руководство. Педагогический (научно-педагогический) состав</li>
    <li class="nav-bar__item">Материально-техническое обеспечение и оснащенность образовательного процесса</li>
    <li class="nav-bar__item">Платные образовательные услуги</li>
    <li class="nav-bar__item">Финансово-хозяйственная деятельность</li>
    <li class="nav-bar__item">Вакантные места для приема (перевода) обучающихся</li>
    <li class="nav-bar__item">Доступная среда</li>
    <li class="nav-bar__item">Международное сотрудничество</li>
    <li class="nav-bar__item">Стипендии и иные виды материальной поддержки</li>
    <li class="nav-bar__item">Образовательные стандарты</li>
    <li class="nav-bar__item">Дополнительные сведения</li>
  </ul>
</aside>