<footer class="footer wrapper">
    <div class="footer__container">
        <a href="../main.html" class="footer__logo">
            <div>
                <img src="./assets/images/logo.svg" class="image-logo" alt="logo">
            </div>
            <span class="footer__logo--text soar">многопрофильный<br>
                технологический<br>
                колледж</span>
        </a>
        <div class="nav">
            <nav class="footer__navigation">
                <ul class="footer__navigation-list">
                    <li><a href="main.html" class="footer__navigation-item soar">Главная</a></li>
                    <li><a href="basis.html" class="footer__navigation-item soar">Сведения об образовательной<br> организации</a></li>
                    <li><a href="specialties.html" class="footer__navigation-item soar">Специальности</a></li>
                    <li><a href="student.html" class="footer__navigation-item soar">Абитуриенту</a></li>
                    <li><a href="news.html" class="footer__navigation-item soar">Новости</a></li>
                    <li><a href="contacts.html" class="footer__navigation-item soar">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__institutions">
            <div class="footer__institutions">
                <ul>
                    <li class="footer__institutions-item soar"><a href="#">Министерство науки и высшего образования</a></li>
                    <li class="footer__institutions-item soar"><a href="#">Министерство просвещения</a></li>
                </ul>
            </div>
            <div class="footer__contact">
                <p class="footer__institutions-item">г. Тюмень</p>
                <a href="tel:+7 (3452) 21-47-71" class="footer__institutions-item soar">+7 (904) 490-70-98</a>
                <a href="mailto:info@mtk-college.ru" class="footer__institutions-item soar">info@mtk-college.ru</a>
            </div>
        </div>
    </div>
</footer>