<footer class="footer wrapper">
    <div class="footer__container">
        <div class="footer__logo">
            <a>
                <img src="../assets/images/logo.svg" alt="logo">
            </a>
            <p class="footer__logo--text">многопрофильный<br>
                технологический<br>
                колледж</p>
        </div>
        <div class="nav">
            <nav class="footer__navigation">
                <ul class="footer__navigation-list">
                    <li><a href="#"  class="footer__navigation-item">Главная</a></li>
                    <li><a href="#" class="footer__navigation-item">Сведения об образовательной<br> организации</a></li>
                    <li><a href="#" class="footer__navigation-item">Специальности</a></li>
                    <li><a href="#" class="footer__navigation-item">Абитуриенту</a></li>
                    <li><a href="#" class="footer__navigation-item">Новости</a></li>
                    <li><a href="#" class="footer__navigation-item">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__institutions">
            <ul>
                <li class="footer__institutions-item">Министерство науки и высшего образования</li>
                <li class="footer__institutions-item">Министерство просвещения</li>
            </ul>
        </div>
        <div class="footer__contact">
            <p class="footer__institutions-item">г. Тюмень</p>
            <a href="tel:+7 (3452) 21-47-71" class="footer__institutions-item">+7 (904) 490-70-98</a>
            <a href="mailto:info@mtk-college.ru" class="footer__institutions-item">info@mtk-college.ru</a>
        </div>
    </div>
</footer>