<header class="header wrapper">
  <div class="header__container">
    <div class="header__logo">
      <a href="../main.html" class="header__logo-link">
        <img src="./assets/images/logo.svg" class="image-logo" alt="logo">
      </a>
      <div class="header__logo-text soar">многопрофильный<br>
        технологический<br>
        колледж</div>
    </div>
    <nav class="header__navigation">
      <ul class="header__navigation-list">
        <li><a href="../main.html" class="header__navigation-item soar">Главная</a></li>
        <li><a href="../basis.html" class="header__navigation-item soar">Сведения об образовательной<br> организации</a></li>
        <li><a href="../specialties.html" class="header__navigation-item soar">Специальности</a></li>
        <li><a href="../student.html" class="header__navigation-item soar">Абитуриенту</a></li>
        <li><a href="../news.html" class="header__navigation-item soar">Новости</a></li>
        <li><a href="../contacts.html" class="header__navigation-item soar">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__links">
      <div>
        <a href="tel:+79044907098" class="header__links-phone soar">+7 (904) 490-70-98</a>
      </div>
      <div>
        <form class="form-field">
          <a class="tap-area">
            <svg class="header__svg search">
              <use href="#header-search"></use>
            </svg>
          </a>
          <input type="text" class="search-field hide" placeholder="Search...">
        </form>

      </div>


      <div>
        <a class="tap-area">
          <svg class="header__svg">
            <use href="#header-optic"></use>
          </svg>
        </a>
      </div>
      <div class="menu-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>