<header class="header wrapper">
  <div class="header__container">
    <div class="header__logo">
      <a class="header__logo-link">
        <img src="../assets/images/logo.svg" alt="logo">
      </a>
      <p class="header__logo-text">многопрофильный<br>
        технологический<br>
        колледж</p>
    </div>
    <nav class="header__navigation">
      <ul class="header__navigation-list">
        <li><a href="../main.html" class="header__navigation-item">Главная</a></li>
        <li><a href="../basis.html" class="header__navigation-item">Сведения об образовательной<br> организации</a></li>
        <li><a href="../specialties.html" class="header__navigation-item">Специальности</a></li>
        <li><a href="../student.html" class="header__navigation-item">Абитуриенту</a></li>
        <li><a href="../news.html" class="header__navigation-item">Новости</a></li>
        <li><a href="../contacts.html" class="header__navigation-item">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__links">
      <div>
        <a href="tel:+79044907098" class="header__links-phone">+7 (904) 490-70-98</a>
      </div>
      <div>
        <a class="tap-area">
          <svg class="header__svg">
            <use href="#header-search"></use>
          </svg>
        </a>
      </div>
      <div>
        <a class="tap-area">
          <svg class="header__svg">
            <use href="#header-optic"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>