<div class="pop-up">
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span>
                <svg class="close">
                    <use href="#close">
                    </use>
                </svg>
            </span>
            <div class="modal__text">
                <p class="modal__title">Заявка отправлена!</p>
                <div class="text">Консультант свяжется с вами в ближайшее время.</div>
            </div>
        </div>
    </div>
</div>

