<div class="requisitions__form">
  <h2 class="requisitions__title">Остались вопросы?</h2>
  <p class="requisitions__subtitle subtitle">Оставьте Ваши контакты для получения консультации</p>
  <div class="requisitions__form-row">
    <div class="requisitions__form-element">
      <input type="text" id="requisitions-control-name" class="requisitions-control form--line" placeholder="Имя">
<!--      <label for="requisitions-control-name" class="input__label requisitions__label-name">Имя</label>-->
    </div>
    <div class="requisitions__form-element">
      <input type="tel" id="requisitions-control-tel" class="requisitions-control form--line" placeholder="Телефон">
<!--      <label for="requisitions-control-tel" class="input__label requisitions__label-tel">Телефон</label>-->
    </div>
  </div>
  <p class="requisitions__agree agree">Нажимая кнопку «Оставить заявку», вы соглашаетесь с Политикой конфиденциальности</p>
  <div class="myBtn"><button class="requisitions__button button formBtn">Оставить заявку</button></div>
</div>
