<form class="requisitions__form">
  <h2 class="requisitions__title">Остались вопросы?</h2>
  <p class="requisitions__subtitle subtitle">Оставьте Ваши контакты для получения консультации</p>
  <div class="requisitions__form-row">
    <div class="requisitions__form-element">
      <input type="text" id="requisitions-control-name" class="requisitions-control formInput required form--line" placeholder="Имя">
    </div>
    <div class="requisitions__form-element">
      <input type="number" id="requisitions-control-tel" class="requisitions-control formInput required form--line" placeholder="Телефон">
    </div>
  </div>
  <div class="about__cookie-banner">
    <label>
      <input type="checkbox" required class="form-control formInput">
          <span></span>
    </label>
    <p class="agree">Нажимая кнопку «Оставить заявку», вы соглашаетесь с Политикой конфиденциальности</p>
  </div>
  <div class="myBtn"><button class="requisitions__button button formBtn">Оставить заявку</button></div>
</form>
