<div class="requisition__form">
  <h2 class="requisition__title">Остались вопросы?</h2>
  <p class="requisition__subtitle subtitle">Оставьте Ваши контакты для получения консультации</p>
  <div class="requisition__form-row">
    <div class="requisition__form-element">
      <input type="text" id="requisition-control-name" class="requisition-control form--line">
      <label for="requisition-control-name" class="input__label requisition__label-name">Имя</label>
    </div>
    <div class="requisition__form-element">
      <input type="tel" id="requisition-control-tel" class="requisition-control form--line">
      <label for="requisition-control-tel" class="input__label requisition__label-tel">Телефон</label>
    </div>
  </div>
  <p class="requisition__agree agree">Нажимая кнопку «Оставить заявку», вы соглашаетесь с Политикой конфиденциальности</p>
  <button class="requisition__button button">Оставить заявку</button>
</div>
