@import '../../vars';
@import '../../mixins';

.about {
  padding-top: 9.5rem;
  height: 58rem;
  background: $maim-color;
  @include breakpoint($xl-bp) {
    padding-top: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-top: 2rem;
    height: 64.6rem;
  }

  &__information {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__title {
    color: $white;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 7.7rem;
    @include breakpoint($xl-bp) {
      font-size: 3.2rem;
      line-height: 3.87rem;
    }
  }

  &__subtitle {
    color: $white;
    margin-top: 2rem;
    padding-left: 0.7rem;
  }

  &__requisition {
    display: flex;
    flex-direction: column;
  }

  &__requisition-title {
    font-weight: 500;
    color: $white;
    font-size: 3.36rem;
    line-height: 3.8rem;
    margin-right: 5.3rem;
    margin-bottom: 3rem;
    @include breakpoint($xl-bp) {
      font-size: 3.2rem;
      line-height: 3.87rem;
    }
    @include breakpoint($sm-bp) {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }

  &__form,
  &__form-row {
    display: flex;
    justify-content: space-between;
     @include breakpoint($sm-bp) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__form {
    gap: 3rem;
    margin-bottom: 1.5rem;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include breakpoint($sm-bp) {
      margin-bottom: 3rem;
    }

    &-element {
      position: relative;
    }
  }

  &__form-row {
    gap: 2rem;
    align-items: end;
    @include breakpoint($xl-bp) {
      flex-direction: column;
    }
    @include breakpoint($sm-bp) {
      align-items: flex-start;
    }

  }

  &__image {
    position: relative;
    top: 3rem;
    border-radius: 2rem;
    &-element {
      height: 51.7rem;
      width: 172rem;

      @include breakpoint($xl-bp) {
        height: 21.7rem;
        width: 70rem;
      }
      @include breakpoint($sm-bp) {
        height: 23.8rem;
        width: 33.5rem;
      }
    }
  }

  &__image--animation {
    overflow: hidden;
    display: block;
    }

  &__image-element--animation {
      transition: all 0.4s linear;
      transform-origin: center;
    @include breakpoint($sm-bp) {
      transition: none;
      transform-origin: center;
    }
      &:hover {
        transform: scale(1.1);
        @include breakpoint($sm-bp) {
          transform: none;
        }
      }
    }

}

.form-control {
  width: 19rem;
  height: 2.8rem;
  background: $maim-color;
  font-size: 1.8rem;
  @include breakpoint($xl-bp) {
    width: 40rem;
  }
  @include breakpoint($sm-bp) {
    width: 33rem;
  }
}

.input__label {
  position: absolute;
  color: $text-input;
  font-size: 1.8rem;
  line-height: 2.1rem;

  &-name {
    right: 15.2rem;
    @include breakpoint($sm-bp) {
      right: 29.2rem;
    }
  }

  &-tel {
    right: 35.1rem;
    @include breakpoint($sm-bp) {
      right: 26.1rem;
    }
  }
}