@import '../../vars';
@import '../../mixins';

.about {
  padding-top: 9.5rem;
  height: 58rem;
  background: $maim-color;
  @include breakpoint($xl-bp) {
    padding-top: 4rem;
  }
  @include breakpoint($sm-bp) {
    padding-top: 2rem;
    height: 64.6rem;
  }

  &__information {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      gap: 3rem;
    }
    @include breakpoint($sm-bp) {

    }
  }

  &__title {
    color: $white;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 7.7rem;
    @include breakpoint($xl-bp) {
      font-size: 3.2rem;
      line-height: 3.87rem;
    }
    @include breakpoint($sm-bp) {

    }
  }

  &__subtitle {
    color: $white;
    margin-top: 2rem;
    padding-left: 0.7rem;
  }

  &__requisition-title {
    font-weight: 500;
    color: $white;
    font-size: 3.36rem;
    line-height: 3.8rem;
    margin-right: 5.3rem;
    margin-bottom: 3rem;
    @include breakpoint($xl-bp) {
      font-size: 3.2rem;
      line-height: 3.87rem;
    }
    @include breakpoint($sm-bp) {
      font-size: 2.4rem;
      line-height: 2.9rem;
    }
  }

  &__form,
  &__form-row {
    display: flex;
    justify-content: space-between;
    @include breakpoint($xl-bp) {

    }
    @include breakpoint($sm-bp) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__form {
    gap: 3rem;
    margin-bottom: 1.5rem;
    @include breakpoint($sm-bp) {
      margin-bottom: 3rem;
    }

    &-element {
      position: relative;
    }
  }

  &__form-row {
    gap: 2rem;
    align-items: end;
    @include breakpoint($sm-bp) {
      align-items: flex-start;
    }

  }

  &__image {
    position: relative;
    top: 3rem;
    &-element {
      height: 51.7rem;
      width: 172rem;

      @include breakpoint($xl-bp) {

      }
      @include breakpoint($sm-bp) {
        height: 23.8rem;
        width: 33.5rem;
      }
    }
  }
}

.form-control {
  width: 19rem;
  height: 2.8rem;
  background: $maim-color;
  @include breakpoint($sm-bp) {
    width: 33rem;
  }
}

.input__label {
  position: absolute;
  color: $text-input;
  font-size: 1.8rem;
  line-height: 2.1rem;

  &-name {
    right: 15.2rem;
    @include breakpoint($sm-bp) {
      right: 29.2rem;
    }
  }

  &-tel {
    right: 33.1rem;
    @include breakpoint($sm-bp) {
      right: 26.1rem;
    }
  }
}