@import '../../vars';
@import '../../fonts';
@import '../../mixins';

.accreditation {
  margin-top: 16rem;
  @include breakpoint($xl-bp) {
    margin-top: 8rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      justify-content: center;
       gap: 4rem;
    }
  }

  &__slider {
    overflow: hidden;
    width: 296rem;
    @include breakpoint($xl-bp) {
      width: 54rem;
      align-self: center;
    }
    @include breakpoint($sm-bp) {
      width: 30rem;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  &__documentation {
    display: flex;
    gap: 2rem;

    &:last-child {
      display: none;
    }
  }

  &__image {
    width: 45.5rem;
    height: 58.8rem;
    @include breakpoint($sm-bp) {
      width: 33.5rem;
      height: 47.5rem;
    }
  }

  &__button {
    display: flex;
    justify-content: right;
    margin-top: 2rem;
    height: 2rem;
    @include breakpoint($sm-bp) {
      margin-top: 1.5rem;
    }
  }
}