@import '../../vars';
@import '../../fonts';
@import '../../mixins';

.education {
  margin-top: 16rem;
  @include breakpoint($sm-bp) {
    margin-top: 8rem;
  }

  &__subtitle {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1.5rem;
      left: 0;
      width: 12.28rem;
      height: 0.2rem;
      background-color: $maim-color;
      @include breakpoint($sm-bp) {
        bottom: -0.5rem;
      }
    }
  }

  &__information {
    display: flex;
    gap: 2rem;
    @include breakpoint($sm-bp) {
      flex-direction: column;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
    @include breakpoint($sm-bp) {
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
  }


}