@import '../../vars';
@import '../../fonts';
@import '../../mixins';
@import 'swiper/swiper';

.license {
  margin-top: 16rem;

  @include breakpoint($xl-bp) {
    margin-top: 8rem;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    @include breakpoint($xl-bp) {
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
    }
  }

  &__slider {
    overflow: hidden;
    width: 296rem;
    @include breakpoint($xl-bp) {
      width: 54rem;
      align-self: center;
    }
    @include breakpoint($sm-bp) {
      width: 30rem;
    }
  }

  &__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    height: 2rem;
  }

  &__documentation {
    display: flex;
    gap: 2rem;
  }

  &__image {
    @include breakpoint($xl-bp) {
      width: 23rem;
    }
  }

  &__button {
      display: flex;
      justify-content: flex-end;
      margin-top: 2rem;
      height: 2rem;
      @include breakpoint($sm-bp) {
        margin-top: 1.5rem;
      }
    }
}

.arrow {
  border: none;
  background: $white;
  &__svg {
    width: 4.2rem;
    height:1.2rem;
  }
}
